.cardstyle{
    /* border: 1px solid; */
    /* background-color: transparent; */
    border-radius: 32px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  22px 22px 44px #c4c4c4,
             -22px -22px 44px #ffffff;
}

.aboutus{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.imgenlarge{
    transition: transform .2s;
    background-color: transparent;
box-shadow:  22px 22px 44px #c4c4c4,
             -22px -22px 44px #ffffff;
}

.imgenlarge:hover{
    transform: scale(2.0);
}
.imgenlarge2{
    transition: transform .2s;
    background-color: transparent;
box-shadow:  22px 22px 44px #c4c4c4,
             -22px -22px 44px #ffffff;
}

.imgenlarge2:hover{
    transform: scale(1.2);
}

Body{
background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

html {
  scroll-behavior: smooth;
}

#listenonspotify{
    border-radius: 1rem;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom ;
}
/* .Firstpart{
background: linear-gradient(145deg, #e6e6e6, #ffffff);

} */